{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'img/token.jpg' %}" type="image" sizes="16x16">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <title>Curent Token</title>
</head>
<body style="background-color:indigo;">
    <nav class="navbar navbar-expand-lg navbar-dark  bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Q-LESS</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/adminview" target="_blank">ADMIN</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/currenttoken" target="_blank">CURRENT ONGOING TOKEN</a>
              </li>
            </ul>
          </div>
        </div>
    </nav><br><br><br><br><br><br>
      <center>
      <div style="height: 20vh;width: 60vw;display: block;">

          <div class="card mb-3">
            {% comment %} <img src="{% static 'img/token.jpg' %}" class="card-img-top" alt="..."> {% endcomment %}
            <div class="card-body">
              <h3>Current Ongoing Token NO</h3>
              <h5 class="card-title"><h1>#{{ currenttokennum.token }}</h1> is ongoing Token No!</h5>
              <p class="card-text">Visit counter with required documents within time</p>
              <p class="card-text"><small class="text-muted">Dont forget to visit counter on time!</small></p>
            </div>
          </div>

      </div>
      </center>


</body>
</html>